body {
  padding: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.form-header{
  font-size: xx-large;
  text-align: center;
}

#theHighScore{
  color: red;
  text-decoration: underline;
  font-size: 30px;
}

#mainForm{
  padding-top: 40px;
  text-align: center;
  font-size: 20px;
}

img {
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
}

#welcomeText{
  font-size: xx-large;
  text-align: center;
}

#theLinks{
  text-align: center;
}

#playButton {
  font-size: 40px;
}

#logoutLink{
  margin-right: 5px;
  font-size: medium;
}

#theUsername{
  color: #9c9c9c;
  text-decoration: underline;
}

#editLink{
  margin-left: 5px;
  font-size: medium;
}

#username{
  margin-left: 5px;
  margin-bottom: 5px;
}

#password{
  margin-left: 5px;
  margin-bottom: 5px;
}

#email{
  margin-left: 5px;
  margin-bottom: 5px;
}

#login{
  margin-top: 5px;
  margin-bottom: 10px;
}

#register{
  margin-top: 5px;
  margin-bottom: 10px;
}

#color{
  margin-left: 5px;
  margin-bottom: 10px;
}

#save{
  margin-top: 5px;
  margin-bottom: 10px;
}

#signUpLink{
  font-size: large;
}

#deleteForm{
  text-align: center;
}

#warning{
  color: red;
}
